XML_S/Fechas_in_out.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fechas-_in_out">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Fechas_in_out">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Fecha_in_out" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Cliente_ID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Habitcion_ID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Fecha_Check_in" type="xs:date" />
              <xs:element minOccurs="0" name="Fecha_Check_out" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>