XML_S/Habitaciones.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Habitaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Habitacion_id" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Tipo_Habitacion" type="xs:string" />
              <xs:element minOccurs="0" name="Capacidad" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Precio_Noche" type="xs:decimal" />
              <xs:element minOccurs="0" name="Disponibilidad" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>