XML_S/Paquetes (2).xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Paquetes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Paquete_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Nombre_Paquete_ID" type="xs:string" />
              <xs:element minOccurs="0" name="Descripcion_Paquete" type="xs:string" />
              <xs:element minOccurs="0" name="Precio" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>